@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  accent-color: theme("colors.primary");
  background-color: theme("colors.background.light");
  color: theme("colors.text.light");
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: theme("colors.background.dark");
    color: theme("colors.text.dark");
  }
}

#__next {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

img,
svg {
  display: block;
  max-width: 100%;
}
