@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  accent-color: theme("colors.primary");
  background-color: theme("colors.background.light");
  color: theme("colors.text.light");
  line-height: 1.5;
  transition: 200ms background-color ease-out;
}

@layer base {
  main {
    @apply flex-grow flex-shrink-0 basis-auto;
  }

  img,
  svg {
    @apply block max-w-full;
  }

  p {
    @apply text-base leading-6 mb-6 mt-4 md:text-[19px] md:leading-[27px] text-neutral-900  dark:text-neutral-100;
  }
}

@layer components {
  .content {
    @apply container max-w-2xl;
  }

  .frontend span::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='333' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 25c64.966-11.94 219.119-29.413 316-3.793m0-.18c-42.008-.281-136.219 1.52-177 10.973' stroke='%23bfdbfe' stroke-width='16' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    content: "";
    @apply absolute hidden md:block -bottom-4 left-0 right-0 bg-no-repeat bg-contain h-10 -z-10;
  }

  .colorBox::after {
    background-color: var(--color);
    content: "";
    @apply h-9 w-9 rounded-md block absolute transition duration-300 opacity-5 dark:opacity-10;
  }

  .subMenu:hover .colorBox::after {
    @apply opacity-10 dark:opacity-20;
  }
}
