:root {
  --c-background: #1b1b1b;
  --c-theme: #2196f3;
  --c-text: #fff;
  --c-grey: #888;
  --f-size: 14px;
  --g-transition: 240ms;
}

@media (min-width: 992px) {
  :root {
    --f-size: 18px;
  }
}